@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

.App {
  text-align: center;
}

::-webkit-scrollbar{
  width: 0px;
}

/*Loading page*/
.LoadinPage{
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  z-index: -1;

  background: linear-gradient(#262626, #121212) ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoadinPageDots{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 100%;

  background-color: white;
}

.LoadinPage label{
  margin-top: 50px;
  color: white;
  animation: breath 2s infinite alternate;
}

@keyframes breath {
  from{
    color: #fff;
  }
  to{
    color: #4b4b4b;
  }
}

@keyframes loadingAni{
  from {
    transform: translateY(-100%) scale(.5);
    background-color: #373737;
  }

  to {
    transform: translateY(100%);
  }
}

/*Security Page*/
.SecurityCheck{
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  z-index: -1;

  background: linear-gradient(#262626, #121212);

  display: flex;
  justify-content: center;
  align-items: center;
}

.parant{
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100% - 40px);
  height: 400px;
  border-radius: 30px;

  background-color: #232323;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(242, 242, 242, 0.6);
}

.message{
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}

.SecurityCheck input{
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 10px;
  border-style: solid;

  text-align: center;

  font-size: 20px;
  background-color: #232323;
  border-color: black;
  color: white;
}

.SecurityCheck input:focus{
  background-color: #272626;
  border-color: rgb(16, 16, 16);
  outline: none !important;
}

.hint{
  color: gray;
  font-size: 10px;
  float: right;
}

.unlock{
  width: calc(100% - 32px);
  height: 36px;
  margin-top: 10px;

  border-radius: 10px;
  border-color: black;
  border-style: solid;

  text-align: center;

  font-size: 20px;

  background-color: #0050db;
  color: white;
}

.toLeftDiv{
  display: flex;
  width: calc(100% - 40px);
}


.checkBoxButton{
  background-color: transparent;
  border-color: transparent;
  color: white;

  border-radius: 10px;
  height: 40px;
}

/*choose Privacy Type menu*/
.choosePrivacyType{
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  z-index: -1;

  background: linear-gradient(#262626, #121212) ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choosePrivacyType label{
  margin-bottom: 20px;
  font-size: 30px;

  color: white;
}

.choosePrivacyType button{
  width: calc(100% - 40px);
  height: 50px;
  font-size: 25px;

  font-family: "Satisfy";
  color: white;

  margin: 20px;

  border-radius: 10px;
  border-width: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(242, 242, 242, 0.6);
  
  background-color: #232323;
}

.choosePrivacyType button:focus{
  animation: privacyButtonChange .5s ease-in;

  height: 70px;
  margin: 0px;

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.005) inset, 0px 0px 10px rgba(175, 253, 187, 0.6);
}

.choosePrivacyType button:disabled{
  animation: privacyButtonChange .5s ease-in-out;

  box-shadow: 0px 0px 0px;
  height: 0px;
  margin: 0px;
  font-size: 0px;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) inset, 0px 0px 0px rgba(242, 242, 242, 0.6);
}

@keyframes privacyButtonChange {
  from{
    height: 50px;
    margin: 20px;
    font-size: 25px;
    background-color: #232323;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(242, 242, 242, 0.6);
  }
}


/*Main Page*/
.MainPageBody{
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  z-index: -1;

  background: linear-gradient(#262626, #121212) ;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navBar{
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;
}

.navBarButton{
  width: calc(100% - 20px);
  margin-top: 10px;
  height: 50px;
  min-height: 50px;

  background: linear-gradient(rgb(151, 0, 0), rgb(166, 0, 66));

  color: white;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;

  border: 0px;
  border-radius: 10px;
  box-shadow:  0px 0px 47px 13px rgba(125,0,0,1);

  z-index: 2;
}

.dropDownYear{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  width: calc(100% - 20px);
  border-radius: 20px;

  background: linear-gradient(rgb(151, 0, 0), rgb(166, 0, 66));
  box-shadow:  0px 0px 10px 1px rgba(125,0,0,1);

  overflow: hidden;

  transition: height 0.5s ease, margin-top 0.5s ease, box-shadow 0.3s ease;

  /*Beinning*/
  margin-top: -25px;
  height: 0px;
  z-index: 0;
  overflow: hidden;
}

.dropDownYear[show="false"] {
  margin-top: -25px;
  height: 0px;
  z-index: 0;
  overflow: hidden;
}

.dropDownYear[show="true"] {
  height: 100%;
  overflow: scroll;
  margin-top: 10px;
  z-index: 0;
}

.dropDownYearButton{
  position: relative;
  width: calc(100% - 20px);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 40px;

  background: transparent;

  color: white;
  font-size: 25px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;

  border: 0px;
}

.dropDownYear label{
  position: relative;
  margin-left: 10px;
  width: calc(100% - 20px);
  text-align: center;
  color: white;
  font-family: "Dancing Script", cursive;
}

.scrollView{
  position: absolute;
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent
}

.placeholder{
  margin-bottom: 50px;
  margin-top: 50px;
}

/*Entry Viewer*/
.enryViewerNone{
  opacity: 0;
  
  margin-top: 10px;
  width: calc(100% - 60px);

  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 20px;

  background: transparent;

}

.enryViewerNone[fadeAway="true"]{
  opacity: .5;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(50%); }
  25% { opacity: 0;}
  100% { opacity: 1; }
}

.enryViewerNone label{
  color: white;
}

.dateLabel{
  margin-top: 10px;
  margin-right: 10px;
  position:relative;
  float: right;

  font-size: 15px;
  font-weight: 500;
  font-family: "Teko", sans-serif;
}

.headlineViewerNone{
  font-family: "Playwrite CU", cursive;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.enryViewerNone img{
  margin-top: 5px;
  border-radius: 20px;
  width:calc(100% - 40px);
}

.bodyText{
  margin-left: 10px;
  margin-right: 10px;

  font-size: 15px;
  font-family: "Playwrite AU TAS", cursive;
  font-weight: 400;
}