.App {
  text-align: center;
}



/*Security Page*/
.SecurityCheck{
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  z-index: -1;

  background-color: #151515;

  display: flex;
  justify-content: center;
  align-items: center;
}

.parant{
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100% - 40px);
  height: 400px;
  border-radius: 30px;
  
  background-color: #232323;
}

.message{
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}

.SecurityCheck input{
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 10px;
  border-style: solid;

  text-align: center;

  font-size: 20px;
  background-color: #232323;
  border-color: black;
  color: white;
}

.SecurityCheck input:focus{
  background-color: #272626;
  border-color: rgb(16, 16, 16);
  outline: none !important;
}

.hint{
  color: gray;
  font-size: 10px;
  float: right;
}

.unlock{
  width: calc(100% - 32px);
  height: 36px;
  margin-top: 10px;

  border-radius: 10px;
  border-color: black;
  border-style: solid;

  text-align: center;

  font-size: 20px;

  background-color: #0050db;
  color: white;
}

.toLeftDiv{
  display: flex;
  width: calc(100% - 40px);
}


.checkBoxButton{
  background-color: transparent;
  border-color: transparent;
  color: white;

  border-radius: 10px;
  height: 40px;
}